<!DOCTYPE html>
<html lang="en" xml:lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title><%= node['bcpc']['cloud']['region'] %> - <%= node['service_ip'] %> - BCPC</title>
  </head>
  <body>
    <style>
      body{
        font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
      }
      p.version {
        font-style: italic;
      }
      div.block{
        overflow:hidden;
      }
      div.block label{
        width:160px;
        display:block;
        float:left;
        text-align:right;
        padding-right:8px;
      }
      div.block .a{
        margin-left:4px;
        float:left;
      }
      table {
        border: 1px solid black;
        border-spacing: 0px;
      }
      th {
        border: 1px solid black;
        padding: 4px;
      }
      td {
        border: 1px solid black; padding: 4px;
      }
    </style>

    <h2><%= node['bcpc']['cloud']['region'] %> - <%= node['bcpc']['cloud']['fqdn'] %> (<%= @vip %>)</h2>
    <p class="version">BCPC cookbook <%= @cookbook_version %> (<%= node['bcpc']['openstack']['repo']['release'] %>-<%= node['bcpc']['openstack']['repo']['branch'] %>)</p>

    <h3>Web Interfaces</h3>
    <table>
      <tr>
        <th>Resource</th>
        <th>URL</th>
        <th>IP-based URL (deprecated)</th>
      </tr>
      <tr>
        <td><em>OpenStack</em></td>
        <td><a href="https://<%= node['bcpc']['cloud']['fqdn'] %>/horizon/">https://<%= node['bcpc']['cloud']['fqdn'] %>/horizon/</a></td>
        <td><a href="https://<%= @vip %>/horizon/">https://<%= @vip %>/horizon/</a></td>
      </tr>
      <tr>
        <td><em>HAProxy</em></td>
        <td><a href="https://<%= node['bcpc']['cloud']['fqdn'] %>/haproxy">https://<%= node['bcpc']['cloud']['fqdn'] %>/haproxy</a></td>
        <td><a href="https://<%= @vip %>/haproxy">https://<%= @vip %>/haproxy</a></td>
      </tr>
      <tr>
          <td><em>RabbitMQ</em></td>
          <td><a href="https://<%= node['bcpc']['cloud']['fqdn'] %>/rabbitmq/">https://<%= node['bcpc']['cloud']['fqdn'] %>/rabbitmq/</a></td>
          <td><a href="https://<%= @vip %>/rabbitmq/">https://<%= @vip %>/rabbitmq/</a></td>
      </tr>
    </table>

    <h3>API Endpoints</h3>

    <p>For API endpoint information, please consult the Service Endpoint list in OpenStack Horizon under <strong>Project > Compute > Access & Security > API Access</strong>.

    <h3>SSL Certificate</h3>
    <code>
      <%= @ssl_crt.gsub(/\n/, '<br/>') %>
    </code>

    <% if !@ssl_intermediate.nil? %>
      <h3>SSL CA certificate</h3>
      <code>
        <%= @ssl_intermediate.gsub(/\n/, '<br/>') %>
      </code>
    <% end %>
  </body>
</html>
